@font-face {
    font-family: Roboto Regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}

.form-wrapper h3 {
    font-family: 'Roboto Regular', sans-serif;
    margin: 10px 0;
}

.user-data-form {
    max-width: 400px;
}

.grid-one-column {
    display: grid;
    grid-gap: 10px 20px;
}

.grid-two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 40px;

}
