/* form starting stylings ------------------------------- */
:root {
    --material-background-input: #f1f1f1;
}

.input-group {
    position: relative;
    width: 100%;
}

.custom-input-input {
    position: relative;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 12px;
    background: var(--material-background-input);
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
}

.custom-input-input:focus {
    outline: none;
}

/* LABEL ======================================= */
.custom-input-label {
    color: #999;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.custom-input-input:focus ~ .custom-input-label,
.custom-input-input:valid ~ .custom-input-label {
    top: 5px;
    font-size: 10px;
}
